a { font-size: 20px;
}
body {
    margin:0;
}
nav ul {list-style: none;
    margin:0;
    padding:0;
}
nav li {display: inline-block;
    width: 33%;
    text-align: center;
    
}
header { background: pink;
        padding-top: 20px;
        padding-bottom: 20px;}

nav a { color: black;}

nav { background: pink;font-family: 'Dancing Script', cursive;;} 

a:hover {
opacity: 0.5;
font-style: oblique;}

h1 { color: pink; }

h1 {font-family: 'Droid Serif', serif; text-align: center}

p {text-align: center;}

ul {
   margin-left:300px;
}

ul li {
    list-style: none;
}

.photohome {
    margin:auto;
    display: block;
    width:160px;
}
html, body {
        height: 100%;
}
main {max-width: 1500px, center;
    min-height: calc(120% - 345px);
}

body {
background-image: url(image/fond2.png)
}

header .active {
background-color: #FEFEFE;
padding: 5px 10px 5px 10px; 
}

footer {
        background: pink;
        padding-top: 20px;
        padding-bottom: 20px;
        }
footer li {display: inline-block;
    width: 33%;
    text-align: center;}
